.close {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
  transform-origin: 50% 50%;
  outline: none;
}
.close:hover {
  opacity: 1;
  transform: rotate(-90deg);
}
.close:before, .close:after {
  position: absolute;
  top: 3px;
  left: 15px;
  content: ' ';
  height: 23px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* Material style */
button.material {
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 40px;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #3949AB;
  outline: none;
}

/* Ripple magic */
button.material{
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button.material:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
